@page "/"
@inject NavigationManager NavigationManager
<div class="all">
    <div class="content">
        <h2>Log in</h2>
        <input type="text" class="content-item" placeholder="Username" @bind="username">
        <input type="password" class="content-item" placeholder="Password" @bind="password">
        <label for="role">Log in as: </label>
        <select name="role" id="role" class="content-item" @bind="userRole">
            <option value="none" selected disabled hidden>
                Select your role
            </option>
            <option value="admin">Admin</option>
            <option value="author">Author</option>
            <option value="reviewer">Reviewer</option>
        </select>
        <button type="button" class="content-item" name="button" onclick="location.href = '/Register'">Create new account</button>
        <button type="button" class="content-item" name="button" @onclick="() => login()">Login</button>
        <a href="/RetrievePassword" class="content-item">Forgot your password?</a>
    </div>
</div>

@code{
    string username, password, userRole;
    private void login()
    {
        if (userRole == "admin")
        {
            if (username == "admin" && password == "admin")
            {
                NavigationManager.NavigateTo("Admin");
            }
        }

        if (userRole == "author")
        {
            // find user data by username and check password
            if(/*do the check*/username=="author"){
                NavigationManager.NavigateTo("Author");
            }
        }
        if (userRole == "reviewer")
        {
            // find user data by username and check password
            if(/*do the check*/username=="reviewer"){
                NavigationManager.NavigateTo("Reviewer");
            }
        }

    }
}