@page "/"
@inject NavigationManager NavigationManager
<div class="all">
    <div class="content">
        <h2>Log in</h2>
        <input type="text" class="content-item" placeholder="Username" @bind="username">
        <input type="password" class="content-item" placeholder="Password" @bind="password">
        <button type="button" class="content-item" name="button" onclick="location.href = '/Register'">Create new account</button>
        <button type="button" class="content-item" name="button" @onclick="() => login()">Login</button>
        <a href="/RetrievePassword" class="content-item">Forgot your password?</a>
    </div>
</div>

@code{
    string username, password;
    private void login()
    {
        if (username == "admin" && password == "admin")
        {
            NavigationManager.NavigateTo("Admin");
        }
    }
}