@page "/"

<div class="all">
    <div class="content">
        <h2>Log in</h2>
        <input type="text" class="content-item" placeholder="Username">
        <input type="password" class="content-item" placeholder="Password">
        <button type="button" class="content-item" name="button" onclick="location.href = '/Register'">Create new account</button>
        <button type="button" class="content-item" name="button" onclick="location.href = '/Login'">Login</button>
        <a href="/RetrievePassword" class="content-item">Forgot your password?</a>
    </div>
</div>
