@page "/Confirmation"

<div>
    <style>

        .confirm-div {
            background-color: lightgreen;
            padding: 10px;
            border-color: green;
        }
    </style>
    <br>
    <div class="confirm-div">
        <center><b>You Successfully Created An Account.</b></center>
        <center><b>Thank you!</b></center>
    </div>
</div>