@page "/Confirmation"
@inject NavigationManager NavigationManager

<div>
    <style>

        .confirm-div {
            background-color: lightgreen;
            padding: 10px;
            border-color: green;
        }
    </style>
    <br>
    <div class="confirm-div">
        <center><b>You Successfully Created An Account.</b></center>
        <center><b>Thank you!</b></center>
    </div>
</div>

@code {
    [Parameter]
    public string authorID { get; set; }
    protected async override void OnInitialized()
    {
        await Task.Delay(3000);
        NavigationManager.NavigateTo("/");

    }
}
