@page "/RetrievePassword"

<div class="content">
    <h1>Retrieve Password</h1>
    <input type="text" class="content-item" placeholder="Enter Your Email">
    <button type="button" class="content-item">Send Password</button>
    <button type="button" class="content-item" onclick="javascript: history.back()">Back</button>
</div>

@code {

}
