@page "/Admin"

@*Shows Admin home page after admin logs in
    "Papers"
    "Reviews"
    "Reviewers"
    "Authors*
    Each tab goes to index.cshtml in the corresponding folder*@

<div class="navbar">
    <button type="button" class="header-button" onclick="location.href='/Admin'">Home</button>
    <button type="button" class="header-button" onclick="location.href='/PaperTable'">Papers</button>
    <button type="button" class="header-button" onclick="location.href='/AuthorTable'">Authors</button>
    <button type="button" class="header-button" onclick="location.href='/ReviewTable'">Reviews</button>
    <button type="button" class="header-button" onclick="location.href='/ReviewerTable'">Reviewers</button>
</div>
<h1 align="center">Welcome Administrator!</h1>
<div style="margin:50px; width:900px">
    <h3>Access Papers</h3>
    <p>
        To access information on the existing papers in the CPMS system <a href="/PaperTable">Click Here</a>.
        As an administrator, you will be able to see the relevant information to each paper, as well as have the
        option to modify or delete said paper.
    </p><br>
    <h3>Access Authors</h3>
    <p>
        To access information on the existing authors in the CPMS system <a href="/AuthorTable">Click Here</a>.
        As an administrator, you will be able to see the relevant information to each author, as well as have the
        option to modify or delete said author.
    </p><br>
    <h3>Access Reviews</h3>
    <p>
        To access information on the existing reviews in the CPMS system <a href="/ReviewTable">Click Here</a>.
        As an administrator, you will be able to see the relevant information to each review, as well as have the
        option to delete said review.
    </p><br>
    <h3>Access Reviewers</h3>
    <p>
        To access information on the existing reviewers in the CPMS system <a href="/ReviewerTable">Click Here</a>.
        As an administrator, you will be able to see the relevant information to each reviewer, as well as have the
        option to modify or delete said reviewer.
    </p><br>
</div>
