@page "/Admin"

@*Shows Admin home page after admin logs in
    "Papers"
    "Reviews"
    "Reviewers"
    "Authors*
    Each tab goes to index.cshtml in the corresponding folder*@

<div class="navbar">
    <button type="button" class="header-button" onclick="location.href='/Admin'">Home</button>
    <button type="button" class="header-button" onclick="location.href='/PaperTable'">Papers</button>
    <button type="button" class="header-button" onclick="location.href='/AuthorTable'">Authors</button>
    <button type="button" class="header-button" onclick="location.href='/ReviewTable'">Reviews</button>
    <button type="button" class="header-button" onclick="location.href='/ReviewerTable'">Reviewers</button>
</div>
<h1>Administrator</h1>
