@page "/Reviewer"

@*Two navbar tabs
    "My Reviews" shows a list of reviews from current reviewer
    "My Account" shows Details.cshtml page of Reviewers
    Add new review in some way
    Home tab for homepage*@

<div class="navbar">
    <button type="button" class="header-button" onclick="location.href='/Reviewer'">Home</button>
    <button type="button" class="header-button">New Review</button>
    <button type="button" class="header-button">My Review</button>
    <button type="button" class="header-button">My Account</button>
</div>

<h1>Reviewer</h1>