@page "/UploadReview/{reviewerID}"
@using Models
@using Microsoft.Extensions.Configuration
@using DataAccess
@inject ISqlAccess _data
@inject IConfiguration _config


<div class="navbar">
    <button type="button" class="header-button" onclick="location.href='/Reviewer/'+@reviewerID">Home</button>
    <button type="button" class="header-button" onclick="location.href='/UploadReview/'+@reviewerID">Submit New Review</button>
    <button type="button" class="header-button" onclick="location.href='/MyReviews/'+@reviewerID">My Paper</button>
    <button type="button" class="header-button" onclick="location.href = '/ReviewerAccount/' +@reviewerID">My Account</button>
</div>


<h1>UploatReview</h1>

<h3>Review Submission Form:</h3>
<form class="content">
    <div class="content-item">
        <label for="ReviewerID">ReviewerID: </label>
        <input type="text" id="ReviewerID" name="ReviewerID" value="@reviewerID" readonly>
    </div>

    <div class="content-item">
        <label for="PaperID">PaperID: </label>
        <input type="text" id="PaperID" name="PaperID" @bind="paperID">
    </div>

    <label>For the following ratings please rate the paper on a score from 0.00 to 5.00</label>


    <div class="content-item">
        <label for="AppropriatenessOfTopic">Appropriateness of the Topic:</label>
        <input type="number" id="AppropriatenessOfTopic" name="AppropriatenessOfTopic" step="0.01" min="0" max="100" @bind="AOT"><br />

        <label for="TimelinessOfTopic">Timeliness of the Topic:</label>
        <input type="number" id="TimelinessOfTopic" name="TimelinessOfTopic" step="0.01" min="0" max="100" @bind="TOT"><br />

        <label for="SupportiveEvidence">Supportive Evidence:</label>
        <input type="number" id="SupportiveEvidence" name="SupportiveEvidence" step="0.01" min="0" max="100" @bind="SE"><br />

        <label for="TechnicalQuality">Technical Quality:</label>
        <input type="number" id="TechnicalQuality" name="TechnicalQuality" step="0.01" min="0" max="100" @bind="TQ"><br />

        <label for="ScopeOfCoverage">Scope of Coverage:</label>
        <input type="number" id="ScopeOfCoverage" name="ScopeOfCoverage" step="0.01" min="0" max="100" @bind="SOC"><br />

        <label for="CitationOfPreviousWork">Citation of Previous Work:</label>
        <input type="number" id="CitationOfPreviousWork" name="CitationOfPreviousWork" step="0.01" min="0" max="100" @bind="COPW"><br />

        <label for="Originality">Originality:</label>
        <input type="number" id="Originality" name="Originality" step="0.01" min="0" max="100" @bind="originality"><br />

        <label for="ContentComments">Content Comments: </label><br />
        <textarea id="ContentComments" name="ContentComments" rows="5" cols="75" @bind="CC"></textarea><br />
    </div>


    <div class="content-item">
        <label for="OrganizationOfPaper">Organization Of Paper:</label>
        <input type="number" id="OrganizationOfPaper" name="OrganizationOfPaper" step="0.01" min="0" max="100" @bind="OOP"><br />

        <label for="ClarityOfMainMessage">Clarity of Main Message:</label>
        <input type="number" id="ClarityOfMainMessage" name="ClarityOfMainMessage" step="0.01" min="0" max="100" @bind="COMM"><br />

        <label for="Mechanics">Mechanics:</label>
        <input type="number" id="Mechanics" name="Mechanics" step="0.01" min="0" max="100" @bind="mechanics"><br />

        <label for="WrittenDocumentComments">Written Document Comments: </label><br>
        <textarea id="WrittenDocumentComments" name="WrittenDocumentComments" rows="5" cols="75" @bind="WDC"></textarea><br />
    </div>

    <div class="content-item">
        <label for="SuitabilityForPresentation">Suitability For Presentation:</label>
        <input type="number" id="SuitabilityForPresentation" name="SuitabilityForPresentation" step="0.01" min="0" max="100" @bind="SFP"><br />

        <label for="PotentialInterestInTopic">Potential Interest in Topic:</label>
        <input type="number" id="PotentialInterestInTopic" name="PotentialInterestInTopic" step="0.01" min="0" max="100" @bind="PIIT"><br />

        <label for="PotentialForOralPresentationComments">Potential for Oral Presenation Comments: </label><br>
        <textarea id="PotentialForOralPresentationComments" name="PotentialForOralPresentationComments" rows="5" cols="75" @bind="PFOPC"></textarea><br />
    </div>


    <div class="content-item">
        <label for="OverallRating">Overall Rating:</label>
        <input type="number" id="OverallRating" name="OverallRating" step="0.01" min="0" max="100" @bind="overall"><br />

        <label for="OverallRatingComments">Overall Rating Comments: </label><br />
        <textarea id="OverallRatingComments" name="OverallRatingComments" rows="5" cols="75" @bind="OC"></textarea><br />
    </div>


    <div class="content-item">
        <label for="ComfortLevelTopic">Comfort Level Topic:</label>
        <input type="number" id="ComfortLevelTopic" name="ComfortLevelTopic" step="0.01" min="0" max="100" @bind="CLT"><br />

        <label for="ComfortLevelAcceptability">Comfort Level Acceptability:</label>
        <input type="number" id="ComfortLevelAcceptability" name="ComfortLevelAcceptability" step="0.01" min="0" max="100" @bind="CLA"><br />
    </div>

    <input type="submit" @onclick="addReview">

    <button onclick="location.href='/Reviewer/'+@reviewerID">Back</button>

</form>
@code {
    [Parameter]
    public string reviewerID { get; set; }
    private Review currReview = new Review();
    public string paperID { get; set; }

    public float AOT, TOT, SE, TQ, SOC, COPW, originality, OOP, COMM, mechanics, SFP, PIIT, overall, CLT, CLA;
    public string CC, WDC, PFOPC, OC;

    private Task addReview()
    {
        string sql = "INSERT INTO Review (ReviewerID, PaperID, AppropriatenessOfTopic, TimelinessOfTopic, SupportiveEvidence, TechnicalQuality, ScopeOfCoverage, CitationOfPreviousWork, Originality, OrganizationOfPaper, ClarityOfMainMessage, Mechanics, SuitabilityForPresentation, PotentialInterestInTopic, OverallRating, ComfortLevelTopic, ComfortLevelAcceptability, ContentComments, WrittenDocumentComments, PotentialForOralPresentationComments, OverallRatingComments)" +
                "VALUES (" + reviewerID + "', '" + paperID + "', '" + AOT + "', '" + TOT + "', '" + SE + "', '" + TQ + "', '" + SOC + "', '" + COPW + "', '" + originality + "', '" + OOP + "', '" + COMM + "', '" + mechanics + "', '" + SFP + "', '" + PIIT + "', '" + overall + "', '" + CLT + "', '" + CLA + "', '" + CC + "', '" + WDC + "', '" + PFOPC + "', '" + OC +"')";
        return _data.SaveData<dynamic>(sql, new { }, _config.GetConnectionString("DefaultConnection"));
    }
}
