.header{
  font-weight: bold;
  color: white;
  background-color: #777777;
  height: 150px;
  margin: 50px, 0, 0, 20px;
  padding: 50px, 0, 0, 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.logo{
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #cccccc;
}
.header-button{
  padding: 20px;
  background: #cccccc;
  font-size: 15px;
  border: 0;
  margin: 0;
}
.header-button:hover{
  background-color: #eeeeee;
}
.content{
  display: grid;
  min-height: 400px;
  grid-template-columns: auto;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.content-item{
  width: 300px;
  height: 50px;
  border-radius: 10px;
}
input[type="text"],[type="password"]{
  height:40px;
}

.footer{
  background-color: #cccccc;
  display: flex;
  justify-content: center;
}

table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,th{
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  height: 60px;
}

tr:nth-child(even){
  background: #eeeeee;
}

.all{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}
